body {
    background-color: lightcoral;
}
h1 {
    background-image: url("./resources/images/pattern.webp");
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    margin: 0 auto;
    text-align: center;
}
div h2{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
a {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}